<!DOCTYPE html>
<html>
  <head>
    <title>The Wheel</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/wheel.css" type="text/css"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <script src="/static/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
    <h1 class="shoop">The Wheel</h1>
    <div id="circle" class="advanced"></div>
    </div>
  </body>
</html>
